<%= render "navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Hyades.jpg/1920px-Hyades.jpg);">
  <div class="container">
    <h1>Welcome to Listicon! &#128253;</h1>
  </div>
</div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
